.cEZwIm {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(38, 38, 38);
    padding: 0px 15px;
    margin-top: 1390px;
    color: white;
    height: 284px;
}

.fSiFFA {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 30px;
    margin-top: 32px;
}

.DupHf h4 {
    font-size: 19px;
    padding: 20px 0px;
}

.buhlSA div {
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    gap: 15px;
}

.fJFxfH {
    text-align: center;
    color: #666;
    margin-bottom: 5px;
    margin-top: -32px;
}

.cEZwIm a {
    display: block;
    font-size: 16px;
    padding-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(144, 144, 144);
    transition: all 0.2s ease 0s;
}

.iPCesR img {
    padding: 4px;
    box-sizing: content-box;
    background-color: rgb(64, 64, 64);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    width: 27px;
    cursor: pointer;
}


.buhlSA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin-top: 9px;
}
