.container_about_about {
    height: 526px;
    background-color: white;
}

.imagempc {
    width: 500px;
    margin-top: -33px;
}

.bzOixb strong {
    font-size: 20px;
}

.bzOixb p {
    margin-bottom: 15px;
}

.gYkoek {
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.div_abouts_abousts {
    margin: 0px auto 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
    margin-right: 180px;
    margin-left: 246px;
    gap: 31px;
}


.kitgamer:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}


.monitorgamer:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}


.nottbook:hover {
    transition: 0.3s;
    transform: scale(1.1);
    cursor: pointer;
}

.bzOixb h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}


.nottbook {
    width: 400px;
}

.p_not {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.h2not {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}


.link_not {
    color: #1363DF;
    display: block;
    margin-top: -11px;
    font-size: 18px;
    transition: all 0.2s ease 0s;
}


.product {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin-top: -47px;
}

.product_11 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin-top: 3px;
}

.product_12 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 60px;
    text-align: center;
    margin-top: 80px;
}