@media screen and (max-width:480px)  {
    .div_abouts_abousts{
        display: block;
       
    }

    .bzOixb h1{
        margin-left: 28px;
        margin-right: -460px;
    }


    .bzOixb p{
        margin-left: 34px;
        margin-right: -305px;
    }
    
    .gaWrVa{
        margin-bottom: 33px;
    }

    .bzOixb strong{
        margin-left: 29px;
    }

    .gYkoek{
        margin-left: 32px;
    }

    .product_11{
        display: block;
    }

    .product_12{
        display: block;
    }


    

    .product{
        flex-direction: column;
        margin-bottom: 97px;
        padding-top: 148px;
    }

   
}