*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    height: 331px;
    padding: 1rem;
    width: 410px;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

body{
    background: rgba(0, 0, 0, 0.76);
}

.container_form{
   height: 100vh;
   width: 100VH;
   justify-content: center;
   display: flex;
   align-items: center;
}

